<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="id.oddbit.flutter.facebook_app_events">

  <uses-permission android:name="android.permission.INTERNET"/>
  <application>

    <meta-data
      android:name="com.facebook.sdk.CodelessDebugLogEnabled"
      android:value="true" />
  </application>
</manifest>
